<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Working</h3>
  </div>
  <div class="panel-body">
    <p>Your boss stops you on the way in and asks you to help him with a task.  One of the assembly line bots has gone down and you must fill its shoes.</p>

    <p>Shortly into your shift, one of the rotator arms on the belt breaks and you can no longer work</p>

  </div>
  <div class="panel-footer">
    You: <a routerLink="/cpr"><button class="btn btn-info" (click)="playerService.onClick(10)">Perform CPR on mechanical hardware</button></a>
    <a routerLink="/hr-from-work"><button class="btn btn-info" (click)="playerService.onClick(0)">Tell boss, 'Not my job!'</button></a>
    <a routerLink="/lunch"><button class="btn btn-info" (click)="playerService.onClick(5)">Go to lunch</button></a>
  </div>
</div>
